{{> search }}

{{> view-options }}

{{#each states }}
<div class="state">
  <div class="state-name">{{ name }}</div>
  {{#each stations }}
  <span class="station">
    <a href="/{{ this.place }}">{{ station }} ({{ name}}, {{ state }})</a>
  </span>
  {{/each}}
</div>
{{/each}}

{{> attribution }}

{{> typeahead }}

{{> analytics }}
