<h3>{{ records.length }} highest recorded temperatures at {{ place }} ({{ station }})</h3>

<style>
  ul {
    list-style-type: none;
    padding: 0;
  }
  div.month {
    padding: 0.5em 0;
  }
</style>

<ul>
{{#each records }}
  <li>
    <a href="/{{ this.place }}/on/{{ this.mmdd }}">{{ this.record_date }}</a>:  {{ this.value }}°F
  </li>
{{/each}}
</ul>

{{> start-end-temperature }}

<div>Pick a date(mm-dd) to see records on that date:</div>
  {{#each months }}
  <div class="month">
    {{#each this }}
    <span><a href="/{{ ../../placeShort }}/on/{{ this }}">{{ this }}</a></span>
    {{/each }}
  </div>
  {{/each }}


{{> back }}

{{> attribution }}

{{> analytics }}
