<h3>Records for {{ place }} ({{ station }}) on {{ when }}</h3>

<style>
  ul {
    list-style-type: none;
    padding: 0;
  }
  .records {
    display: inline-block;
    width: 49%;
  }
  .monthly {
    padding: 10px 0;
  }

  .prev-next {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
  }
</style>

<div class="prev-next">
  <a href="{{previousDay}}">previous day ({{ previousDay }})</a>
  <a href="{{nextDay}}">next day ({{ nextDay }})</a>
</div>

<div class="records">
  <div>Record Highs</div>
  <ul>
  {{#each maxHighs }}
    <li>
      {{ this.rank }}:  {{ this.value }}°F ({{ this.year }})
    </li>
  {{/each }}
  </ul>
</div>

<div class="records">
  <div>Record Lows</div>
  <ul>
  {{#each minLows }}
    <li>
      {{ this.rank }}:  {{ this.value }}°F ({{ this.year }})
    </li>
  {{/each }}
  </ul>
</div>

<div class="records">
  <div>Lowest Highs</div>
  <ul>
  {{#each minHighs }}
    <li>
      {{ this.rank }}:  {{ this.value }}°F ({{ this.year }})
    </li>
  {{/each }}
  </ul>
</div>

<div class="records">
  <div>Highest Lows</div>
  <ul>
  {{#each maxLows }}
    <li>
      {{ this.rank }}:  {{ this.value }}°F ({{ this.year }})
    </li>
  {{/each }}
  </ul>
</div>

<div class="records monthly">
  Highest {{ monthlyRecordHigh.mon }} temperature:
  <br>
  {{ monthlyRecordHigh.value }}°F on {{ monthlyRecordHigh.record_date }}.
</div>

<div class="records monthly">
  Lowest {{ monthlyRecordLow.mon }} temperature:
  <br>
  {{ monthlyRecordLow.value }}°F on {{ monthlyRecordLow.record_date }}.
</div>

<div class="normals monthly">
  <div>Average temperature is {{ avg }}°F</div>
  <div>Average high is {{ avgHigh }}°F</div>
  <div>Average low is {{ avgLow }}°F</div>
</div>

{{> start-end-temperature }}

<hr>

<div class="records">
  <div>Record Precipitation</div>
  <ul>
  {{#each precip }}
    <li>
      {{ this.rank }}:  {{ this.value }} ({{ this.year }})
    </li>
  {{/each }}
  </ul>
</div>

{{> start-end-precip }}

{{> back }}

{{> attribution }}

{{> analytics }}
